<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @toc.each_with_index do |chapter_name, idx| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%= idx + 1 %>" class="pure-menu-link"><%= chapter_name%></a>
      </li>
    <% end %>
  </ul>
</div>